@import "~bootstrap/scss/bootstrap";

.fusionPageRoot{
    position: relative;
    width: 100%;
    height: 100%;
    // height: fill-available;
    margin: 0;
    // display: flex;
    
    // .row .col{
        //     height: ;
        // }
    .fusionPageBody{
        background-color: rgba($dark, 0.9);
        height: 100%;
        width: 100%;
        margin: auto;
        overflow: auto;
    }
    // .fusionPageCol{
    //     // height: 100vh;
        
    // }
    .fusionPageItem{
        min-height: 50vh;
        max-height: 50vh;
        overflow: hidden;
    }
    .fusionPageFuse{
        min-height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .fuseFloating{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 10%;
            background: rgba($light, 0.15);
            top: 50%;
            left: 0;
            margin: 0;
            padding: 0;
            content: '';
            z-index: -1;
        }
    }
}

.fuserRoot{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // .fusemonToken{
    //     max-width: 100px;
    // }
}

.selectorRoot{
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid rgba($dark, 0.5);
    border-radius: 10%;
    background-color: $dark;
    color: $light;
    overflow: hidden;

    table{
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        text-align: center;
        overflow: auto;
        
        thead{
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            overflow: auto;
        }
    }

    .selectorListRoot{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;
        // border-radius: 10%;
        
    }
    
    .selectorListFloating{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        pointer-events: none;
        
        .floatingHeader{
            width: 100%;
            height: 100px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light;
            font-weight: bold;
            background-color: transparent;
            background-image: linear-gradient(0deg, transparent, $dark, $dark, $dark);
        
            .floatingClose{
                position: absolute;
                top: 30px;
                left: 30px;
                pointer-events: all;
            }
        }
        
        .floatingFooter{
            width: 100%;
            height: 70px;
            position: relative;
            display: flex;
            align-items: center;
            background-color: transparent;
            background-image: linear-gradient(180deg, transparent 0%, $dark 30%, $dark 100%);
            pointer-events: all;

            .floatingFooterForm{
                width: 100%;
                display: flex;
            }

        }
    }

    .selectedPokemonImage{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        // min-height: 200px;
        max-height: 300px;
        max-width: 300px;
        object-fit: contain;
        background-color: rgba($secondary, 0.5);
        border-radius: 20px;
        border: 8px solid $secondary;
        // height: 100vh;

        .selectedTypeContainer{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25%;
            border-radius: 100% 100% 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 5px 0px rgba($dark, 0.5);
            background-color: rgba($secondary, 0.3);
            backdrop-filter: blur(4px);
        }
    }

    .selectedPokemonAbilities{
        text-align: start;

        .row{
            margin: 0;

            .col{
                border: 1px solid rgba($light, 0.6);
                border-radius: 10px;
            }
        }
    }
}