@import "~bootstrap/scss/bootstrap";

.statsContainer{
    // max-height: 100vh;
    min-height: 20vh;
    width: 100%;
    background-color: rgba($dark, 0.9);
    border-radius: 10px;
    border: 5px solid $dark;
    color: $light;
    
    .descriptionText{
        border-radius: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid $dark;
        background-color: rgba($light, 0.87);
        padding: 10px;
        color: $dark;
    }

    table{
        width: 100%;

        // td, th{
        //     border: 1px solid #dddddd;
        // }
    }

    .locationsTable{
        overflow: hidden;
        width: 100%;
        border: 1px solid $dark;
        border-radius: 10px;
        background-color: rgba($light, 0.87);
        color: $dark;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        td, th{
            min-width: 40px;
            border: 1px solid $dark;
            padding: 5px;
            text-align: center;

        }

        .locationName{
            font-weight: bold;
            text-align: right;
        }

        .locationMethod{
            font-style: italic;
        }
    }

    .abilitiesTable{
        font-weight: 600;
        width: 100%;
        margin: 0 auto;
        border-collapse: separate;
        // border: 2px solid $secondary;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
        td{
            background-color: rgba($secondary, 0.5);
            border-radius: 10px;
            border: 1px solid $light;
            padding: 8px;
            text-align: center;

            .abilityDescription{
                font-size: small;
                font-weight: normal;
                color: rgba($light, 0.7);
                line-height: normal;
            }
            
            &.hiddenAbility{
                background-color: rgba($dark, 0.5);

                &:hover{
                    background-color: rgba($dark, 0.7);
                }

                .hiddenLabel{
                    color: rgba($secondary, 0.65);
                    font-weight: 600;
                    position: absolute;
                    font-size: smaller;
                }
            }

            &:hover{
                background-color: rgba($secondary, 0.7);
            }
        }
    }

    .effectivenessTable{
        font-weight: 600;
        width: 100%;
        margin: 0 auto;
        border-collapse: separate;
        // border: 2px solid $secondary;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
        tr{
            background-color: rgba($secondary, 0.5);
            border-radius: 10px;
            border: 1px solid $light;
            padding: 8px;
            text-align: center;

            &.superEffective{
                background-color: rgba($success, 0.5);
            }
            &.notEffective{
                background-color: rgba($danger, 0.5);
            }
        }
        td{
            &.effTitle{
                text-align: right;
            }
            &.effTypes{
                text-align: center;
            }
        }
    }

    // .evolutionContainer{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     margin: 0 auto;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba($dark, 0.9);
    //     border-radius: 10px;
    //     border: 5px solid $dark;
    //     color: $light;

    //     .evolutionTitle{
    //         font-weight: 600;
    //         font-size: 1.5rem;
    //         margin: 0 auto;
    //         text-align: center;
    //     }

    //     .evolutionRow{
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;
    //         justify-content: center;
    //         width: 100%;
    //         height: 100%;
    //         margin: 0 auto;
    //         text-align: center;

    //         .evolutionCell{
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             width: 100%;
    //             height: 100%;
    //             margin: 0 auto;
    //             text-align: center;

    //             .evolutionImage{
    //                 width: 100%;
    //                 height: 100%;
    //                 margin: 0 auto;
    //                 text-align: center;
    //             }
    //         }
    //     }
    // }
    
    .movesList{
        max-height: 80vh;
        overflow: auto;
    
        table {
            width: 100%;
            border-collapse: separate;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            margin: 0 auto;
            font-weight: 600;
            
            tr{
                background-color: rgba($secondary, 0.5);
                border-radius: 10px;
                border: 1px solid $light;
                padding: 8px;
                text-align: center;
            }
            td, th{
                min-width: 40px;
            }
            td{
                &.moveMethod{
                    font-weight: normal;
                    color: rgba($light, 0.87);
                }
                &.moveCategory{
                    text-transform: capitalize;

                    &.physical{
                        background-color: $danger;
                    }
                    &.special{
                        background-color: $success;
                    }
                    &.status{
                        background-color: $info;
                    }
                }
                &.moveName{
                    text-align: left;
                    text-transform: capitalize;
                }
                &.moveType{
                    text-align: center;
                }
            }
        }
    }
}


.pokemonToken{
    color: $light;
    max-width: 100vw;
    width: fit-content !important;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba($secondary, 0.7);
    border-radius: 10px;
    overflow: hidden;

    tr:hover{
        background-color: rgba($dark, 0.6);
    }

    .pokemonName{
        background-color: rgba($secondary, 0.7);
        border-radius: 10px 10px 0px 0px;
    }

    .pokemonTokenImg{
        // position: relative;
        // width: fit-content;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 100%;
        background: $secondary;
        border: 3px solid rgba($secondary, 0.7);
        overflow: visible;
        img{
            z-index: 10;
            transform: scale(1.2);
        }
        
        // z-index: 10;
        // margin: auto;
        // &::before{
        //     top: 0px;
        //     left: 0px;
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     content: '';
        //     z-index: 1;
        //     // transform: translate(-50%, -50%);
        // }
    }
}