
// Styles for wach type of pokemon with a background color defined
// Using the following colors: https://bulbapedia.bulbagarden.net/wiki/Type
//
.typeBackground-normal {
    background-color: #A8A878 !important;
}

.typeBackground-fire {
    background-color: #F08030 !important;
}

.typeBackground-water {
    background-color: #6890F0 !important;
}

.typeBackground-electric {
    background-color: #F8D030 !important;
}

.typeBackground-grass {
    background-color: #78C850 !important;
}

.typeBackground-ice {
    background-color: #98D8D8 !important;
}

.typeBackground-fighting {
    background-color: #C03028 !important;
}

.typeBackground-poison {
    background-color: #A040A0 !important;
}

.typeBackground-ground {
    background-color: #E0C068 !important;
}

.typeBackground-flying {
    background-color: #A890F0 !important;
}

.typeBackground-psychic {
    background-color: #F85888 !important;
}

.typeBackground-bug {
    background-color: #A8B820 !important;
}

.typeBackground-rock {
    background-color: #B8A038 !important;
}

.typeBackground-ghost {
    background-color: #705898 !important;
}

.typeBackground-dragon {
    background-color: #7038F8 !important;
}

.typeBackground-dark {
    background-color: #705848 !important;
}

.typeBackground-steel {
    background-color: #B8B8D0 !important;
}

.typeBackground-fairy {
    background-color: #EE99AC !important;
}

.typeBackground-unknown {
    background-color: #b6cae4 !important;
}